# **Indices y selecci贸n de datos**

## **Selecci贸n de datos en ``Series``**

### ``Series``  como diccionario

In [3]:
import pandas as pd
data = pd.Series([5.2, 3.5, 5.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    5.20
b    3.50
c    5.75
d    1.00
dtype: float64

In [5]:
data0 = pd.Series([5.2, 3.5, 5.75, 1.0])
data0

0    5.20
1    3.50
2    5.75
3    1.00
dtype: float64

In [6]:
data['b']

3.5

In [7]:
'a' in data

True

In [9]:
'e' in data

False

In [10]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
list(data.items())

[('a', 5.2), ('b', 3.5), ('c', 5.75), ('d', 1.0)]

In [12]:
data['e'] = 1.25
data

a    5.20
b    3.50
c    5.75
d    1.00
e    1.25
dtype: float64

### ``Series``  como un array uni-dimensional

In [13]:
# slicing by explicit index
data['a':'c']

a    5.20
b    3.50
c    5.75
dtype: float64

In [14]:
# slicing by implicit integer index
data[0:2]

a    5.2
b    3.5
dtype: float64

In [15]:
# masking
data[(data > 0.3) & (data < 0.8)]

Series([], dtype: float64)

In [16]:
# fancy indexing
data[['a', 'e']]

a    5.20
e    1.25
dtype: float64

### "Indexadores": ``loc``, ``iloc`` y ``ix``

In [17]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [18]:
# explicit index when indexing
data[1]

'a'

In [0]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

In [0]:
data.loc[1]

'a'

In [0]:
data.loc[1:3]

1    a
3    b
dtype: object

In [0]:
data.iloc[1]

'b'

In [0]:
data.iloc[1:3]

3    b
5    c
dtype: object

## **Selecci贸n de datos en un ``DataFrame``**

### ``DataFrame`` como un diccionario

In [19]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [20]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [21]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [22]:
data.area is data['area']

True

In [23]:
data.pop is data['pop']

False

In [24]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### ``DataFrame`` como un array bi-dimensional

In [25]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [26]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [27]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [28]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [29]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [30]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [31]:
data.ix[:3, :'pop']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [32]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [33]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### Convenciones adicionales sobre el indexado

In [34]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [35]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [36]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121