# **Introducción a los objetos de Pandas**

In [0]:
import numpy as np
import pandas as pd

## **El objeto ``Series`` de Pandas**

In [5]:
data = pd.Series([0.2, 5.2, 0.75, 2.0])
data

0    0.20
1    5.20
2    0.75
3    2.00
dtype: float64

In [6]:
data.values

array([0.2 , 5.2 , 0.75, 2.  ])

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[1]

5.2

In [11]:
data[1:3]

1    5.20
2    0.75
dtype: float64

## **``Series`` es una generalización de NumPy array**

In [14]:
data = pd.Series([0.25, 5.3, 0.75, 1.0,23.5],
                 index=['a', 'b', 'c', 'd','e'])
data

a     0.25
b     5.30
c     0.75
d     1.00
e    23.50
dtype: float64

In [15]:
data['b']

5.3

In [16]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [17]:
data[5]

0.5

## **``Series`` como diccionarios especializados**

In [0]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [0]:
population['California']

38332521

In [0]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## **Construcción de un objeto ``Series``**

```python
>>> pd.Series(data, index=index)
```

In [0]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [0]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

## **El objeto ``DataFrame`` de Pandas**

### ``DataFrame`` es una generalización de NumPy array

In [0]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [0]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [0]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [0]:
states.columns

Index(['population', 'area'], dtype='object')

### ``DataFrame`` como un diccionario especializado

In [0]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

### Construcción de objetos  ``DataFrame``

In [0]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [0]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [0]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [0]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [0]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.083442  0.958033
b  0.994068  0.563680
c  0.260052  0.119171

In [0]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [0]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## **El objeto ``Index`` de Pandas**

In [0]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [0]:
ind[1]

3

In [0]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [0]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [0]:
ind[1] = 0

TypeError: ignored

### ``Index``   como conjunto ordenado

In [0]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [0]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [0]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [0]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')